@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #19c37d;
  --color-secondary: #715fde;
  --bg-primary: #343541;
}

body,
html {
  height: 100%;
}

.dark body {
  background-color: var(--bg-primary);
}
